/*BEM*/
body{
    margin: 0;
    padding: 0;
    color: #fff;
}
li{
   list-style-type: none;
}
a{
    text-decoration: none;
}
/*Block*/
.header{
    width: 100%;
    padding: 1px 0;
    background: rgba(0,0,0,0.7);
    height: 50em;
    position: relative;
}
.header::after{
    content: '';
    width: 100%;
    height: 50em;
    position: absolute;
    background-image: url("../West_files/header.jpg");
    top: 0;
    left: 0;
    z-index: -1;
}
.nav{
    width: 100%;
    margin-right: 20em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: transparent;
    
}
.nav-scrolled{
    transition: all 0.5s;
    opacity: 0.8;
    background-color: #fff;
    padding: 5px 0;
    height: 3em;
    margin-top: 0;
}
.header__buttonWrapper{
    text-align: center;
}
/*Element*/
.header__h1{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-left: 7em;
}
.header__a{
    color: white;
}
.header__ascrolled{
    color: #1c1c1c;
}
.nav__ul{
    color: #fff;
    display: flex;
    font-size: 13px;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    margin-top: 25px;
}
.nav__ulscrolled{
    color: #1c1c1c;
    display: flex;
    font-size: 13px;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    margin-top: 25px;
}
.nav__subul{
    visibility: hidden;
}
.header__Bigh1{
    margin-top: 2em;
    color: #fff;
    text-align: center; 
    font-size: 76px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}
.header__button{
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    font-size: 14px;
    padding: 15px 30px;
    border: 0;
    font-weight: 700;
    margin: 10px;
    color: #fff;
}
.header__button:hover{
    background-color: #fff;
    color: black;
}
/*Modeyfier*/

